/*#imgtree {
	display:none;
}*/

#tttt .dropdown-toggle {
	display:none;
}

#il_screen_id {
	display:none;
}

/*
#mainscrolldiv div.il_HeaderInner {
	margin-bottom: 40px;
}*/

/*
div.caption > h5.card-title > a {
	display: block;
	padding: 9px;
}

.il-deck div.caption {
	padding: 0;
}

.ilFreibPsyContItems .il-card a {
	overflow: hidden;
	unicode-bidi: normal;
}

.ilFreibPsyContItems .il-card {
	padding: 0;
	background-color: #ffffff;
}
*/

div.breadcrumbs span.crumb {
	visibility: hidden;
}

#il_right_col .il-deck .col-sm-12 {
	width: 50%;
}

/*
.il-layout-page {
	-ms-grid-rows: 60px 0px 1fr;
	grid-template-rows: 60px 0px 1fr;
}*/