#imgtree {
	display:none;
}

#tttt .dropdown-toggle {
	display:none;
}

#il_screen_id {
	display:none;
}

#mainscrolldiv div.il_HeaderInner {
	margin-bottom: 40px;
}

div.caption > h5.card-title > a {
	display: block;
	padding: 9px;
}

.il-deck div.caption {
	padding: 0;
}

.ilFreibPsyContItems .il-card a {
	overflow: hidden;
}